.form {
  margin: 0 auto;
}

.actions {
  .btn-add {
    background-color: #1890ff;
    color: white;
    min-width: 110px;
    border-radius: 10px;
    &:hover {
      background-color: darken(#1890ff, 10);
    }
  }
  .btn-discard {
    position: absolute;
    right: 0;
    border-radius: 10px;
    &:hover {
      background-color: darken(white, 1);
      color: #1890ff;
    }
  }
}
.heading {
  font-size: 1.5rem;
  margin: auto 0;
}
